*~
annotationTools/perl/globalvariables.pl
annotationTools/php/globalvariables.php
annotationTools/scribble/segment.cgi
*.o
*.a
annotationTools/scribble/image.jpg
annotationTools/scribble/mask.png
annotationTools/scribble/scribble.png
Images/*
SourceImages/*
Annotations/*
annotationCache/TmpAnnotations/*
.DS_Store
.vscode/